<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
    <script src="https:///cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link href="/fontAwesome5-11/css/all.min.css" rel="stylesheet">
    <script>window.markdeepOptions = {mode: 'script', detectMath: false};</script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

    <noscript>
        <div class="noscript">
            <div class="noscript alternative js-required">
                <div class="jumbotron text-center">
                    <h1><strong>JavaScript required</strong></h1><br>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-wrench"></span></div>
                    <div class="panel-body">
                        <ul style="list-style: none">
                            <li>We're sorry, but 🍅cards doesn't work without JavaScript enabled.</li>
                            <li>Info about <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/">how
                                to enable JavaScript in your browser</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </noscript>

    <!-- Matomo -->
    <script type="text/javascript">
        var siteID;
        if(window.location.hostname.includes("linux")){
            siteID = 9;
        } else {
            siteID = 5;
        }
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="https://arsnova.thm.de/stats/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', siteID]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>
