<template name="learningStatisticsRemoveBonusUserModal">
    <div class="modal fade" id="learningStatisticsRemoveBonusUserModal" tabindex="-1" role="dialog"
         aria-labelledby="learningStatisticsRemoveBonusUserTitle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i aria-hidden=true class="fas fa-trash"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="learningStatisticsRemoveBonusUserTitle" class="modal-title">{{_ "learningStatisticsRemoveBonusUser.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "learningStatisticsRemoveBonusUser.text"}}
                    {{#with userData}}
                        <table aria-describedby="learningStatisticsRemoveBonusUserTitle" class="table table-striped table-hover table-user-list">
                            <tbody>
                            <tr>
                                {{#if gotHiddenUserNames}}
                                    <th scope="col">{{_ "learningStatistics.hiddenUser"}}</th>
                                {{else}}
                                    <th scope="col">{{_ "panel-body.birthname"}}</th>
                                    <th scope="col">{{_ "panel-body.givenname"}}</th>
                                    <th scope="col">{{_ "panel-body.email"}}</th>
                                {{/if}}
                                <th scope="col">{{_ "learningStatistics.lastActivity"}}</th>
                                <th scope="col">{{_ "learningStatistics.box" number=1}}</th>
                                <th scope="col">{{_ "learningStatistics.box" number=2}}</th>
                                <th scope="col">{{_ "learningStatistics.box" number=3}}</th>
                                <th scope="col">{{_ "learningStatistics.box" number=4}}</th>
                                <th scope="col">{{_ "learningStatistics.box" number=5}}</th>
                                <th scope="col">{{_ "learningStatistics.learned"}}</th>
                            </tr>
                            <tr>
                                {{#if gotHiddenUserNames}}
                                    <td>{{_ "learningStatistics.hiddenUserPlaceholder" index= index}}</td>
                                {{else}}
                                    <td>{{this.firstName}}</td>
                                    <td>{{this.lastName}}</td>
                                    <td>{{this.email}}</td>
                                {{/if}}
                                <td>{{this.lastActivity}}</td>
                                <td>{{this.box1}}</td>
                                <td>{{this.box2}}</td>
                                <td>{{this.box3}}</td>
                                <td>{{this.box4}}</td>
                                <td>{{this.box5}}</td>
                                <td>{{this.box6}}</td>
                            </tr>
                            </tbody>
                        </table>
                    {{/with}}
                </div>
                <div class="modal-footer">
                    <button id="removeUserFromBonusConfirm"
                            class="btn btn-raised btn-danger pull-right">{{_
                            "learningStatisticsRemoveBonusUser.button.confirm"}}</button>
                    <button id="removeUserFromBonusCancel"
                            class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "learningStatisticsRemoveBonusUser.button.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
