<template name="cardsetInfoBoxItemBonusCardArithmeticMean">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.cardArithmeticMean.stats"}}:</td>
            <td>{{getBonusCardArithmeticMean}}</td>
        </tr>
    {{/if}}
</template>
