<template name="cardsetInfoBoxItemBonusCardStandardDeviation">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.cardStandardDeviation"}}:</td>
            <td>{{getBonusCardStandardDeviation}}</td>
        </tr>
    {{/if}}
</template>
