body {
  > .container-fluid {
    padding: 51px 15px 0;
    #backendNavigation {
      margin-bottom: 0;
    }

  }
  #wrapper {
    margin-top: 36px;
    #admin-sidebar-wrapper {
      float: left;
      width: 100%;
      .sidebar-nav {
        padding: 0;
        list-style: none;
        float: left;
        margin: 0;
        li {
          line-height: 45px;
          float: left;
          a {
            display: block;
            text-decoration: none;
            padding-left: 15px;
            padding-right: 15px;
            &:hover, &.active {
              text-decoration: none;
            }
            i {
              display: inline;
              padding-right: 5px;
            }
          }
        }
      }
    }
    #admin-content-wrapper {
      padding: 20px;
      float: left;
      width: 100%;
      .modal {
        .input-group {
          padding-left: 15px;
        }
        p {
          padding-top: 7px;
          margin: 0;
        }
      }
      .content-header {
        position: relative;
        padding-bottom: 20px;
        h1 {
          font-size: 28px;
          margin: 0;
        }
        small {
          font-size: 16px;
        }
      }
      .content {
        min-height: 250px;
        .admin_table {
          padding-top: 20px;
          border-radius: 3px;
          border-top: 4px solid;
          border-bottom: 4px solid;
          .clearfix {
            border-bottom: 1px solid;
            .reactive-table-options {
              float: left !important;
              .reactive-table-filter {
                float: left !important;
                margin-bottom: 20px;
              }
            }
          }
          table {
            td {
              vertical-align: middle !important;
            }
            border-bottom: 1px solid;
            .getpointer {
              cursor: pointer;
            }
          }
          .reactive-table-navigation {
            .page-number {
              margin-right: 20px;
            }
            .rows-per-page {
              margin-left: 20px;
            }
            .form-inline input {
              width: 50px;
            }
            .next-page {
              font-size: 200%;
              margin: 0 5px;
            }
            .previous-page {
              font-size: 200%;
              margin: 0 5px;
            }

          }
          .MathJax {
            font-size: 10px !important;
          }
        }
        .dashboard-box {
          a:hover {
            text-decoration: none;
          }
          .small-box {
            border-radius: 3px;
            border: 1px solid;
            position: relative;
            display: block;
            margin-bottom: 20px;
            .inner {
              padding: 10px;
              h3 {
                font-size: 38px;
                font-weight: normal;
                margin: 0 0 10px 0;
                white-space: nowrap;
                padding: 0;
                span {
                  font-size: 18px;
                  font-weight: normal;
                }
              }
              p {
                font-size: 15px;
              }
            }
            .small-box-footer {
              position: relative;
              text-align: center;
              padding: 3px 0;
              display: block;
              z-index: 10px;
              text-decoration: none;
            }
          }
        }
      }
      .content.box-admin {
        border-top: 4px solid;
        border-radius: 3px;
        border-bottom: 4px solid;
        .box-body-admin {
          padding: 10px;
          .box-button-admin {
            border-top: 1px solid;
            padding-top: 20px;
          }
          .reactive-table-filter {
            padding-top: 10px;
          }
          #cc-modules-admin img {
            width: 30px;
          }
          #cc-description-admin {
            padding-top: 10px;
            img {
              width: 58px;
            }
            p {
              padding-bottom: 10px;
            }
          }
        }
      }
      .reactive-table-navigation {
        .page-number {
          label:last-child {
            margin-right: 21px;
          }
        }
      }
    }
    #module {
      margin-left: 0.1em;
      margin-right: 0.1em;
    }

    .categories {
      label {
        padding-top: 7px;
      }

      .dropdown-menu {
        margin-left: 12px;
      }
    }
  }
}

@media(min-width: 768px) {
  body {
    #wrapper {
      #admin-sidebar-wrapper {
        width: 230px;
        position: fixed;
        height: 100%;
        overflow-y: auto;
        .sidebar-nav {
          float: none;
          li {
            float: none;
            text-indent: 20px;
            a {
              padding: 0;
              border-left: 3px solid transparent;
            }
          }
        }
      }
      #admin-content-wrapper {
        margin-left: 230px;
        float: none;
        width: auto;
      }
    }
  }
}

#intervalMenu {
  margin-top: 20px;
  button {
    margin-right: 4px;
  }
}

.mailtoUserAdmin {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}




#editorButtonGroup {
  padding: 0;
}

.subjectEditor {
  margin-top: 0;
  padding: 0;
}

.subjectEditorButton {
  margin: 0;
  height: 38px !important;
}

.mobilePreviewFrame {
  position: relative;
  margin: auto;
  border: 16px white solid;
  border-radius: 36px;
}

.mobilePreviewFrame:before {
  content: '';
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.mobilePreviewFrame.portrait:before {
  width: 60px;
  height: 5px;
  top: -30px;
  left: 50%;

}

.mobilePreviewFrame.landscape:before {
  height: 60px;
  width: 5px;
  left: -30px;
  top: 50%;
}

.mobilePreviewFrame:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.mobilePreviewFrame.portrait:after {
  left: 50%;
  bottom: -65px;

}

.mobilePreviewFrame.landscape:after {
  top: 50%;
  right: -65px;
}

.mobilePreviewFrame.portrait {
  width: 375px + 32px;
  height: 667px + 120px;
  border-top-width: 60px;
  border-bottom-width: 60px;
}

.mobilePreviewFrame.landscape {
  width: 667px + 120px;
  height: 375px + 32px;
  border-left-width: 60px;
  border-right-width: 60px;
}

.mobilePreviewContent.landscape {
  position: absolute;
  width: 667px;
  height: 375px;

  .cardContent {
    height: 255px;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    margin-bottom: $sidebar_yOffset_landscape_mobile !important;
  }
}

.mobilePreviewContent.portrait {
  position: absolute;
  width: 375px;
  height: 667px;

  .cardContent {
    height: 550px;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    margin-bottom: $sidebar_yOffset_portrait_mobile !important;
  }
}

.mobilePreviewContent {
  .cardContent {
    padding: $padding_card_content_vertical_mobile $padding_card_content_horizontal_mobile !important;

    ul, ol {
      padding-left: 20px;
    }
  }

  .card-container {
    margin-top: 10px;
  }

  .cardHeaderSmallText {
    font-size: $font_size_card_header_small_text_mobile;
  }

  .cardHeaderSmallerText {
    font-size: $font_size_card_header_smaller_text_mobile;
  }

  .cardHeaderLeft {
    padding: ($card_header_padding / 2) 0 0 ($card_header_padding / 2);

    .cardHeaderItem {
      margin-right: $card_header_item_margin_horizontal / 2;
    }

    line-height: $line_height_card_header_mobile !important;
  }

  .cardHeaderCenter {
    padding: ($card_header_padding / 2) ($card_header_padding / 2) 0 ($card_header_padding / 2);
    line-height: $line_height_card_header_mobile !important;
    white-space: nowrap;
  }

  .cardHeaderRight {
    padding: ($card_header_padding / 2) ($card_header_padding / 2) 0 0;

    .cardHeaderItem {
      margin-left: $card_header_item_margin_horizontal / 2;
    }

    line-height: $line_height_card_header_mobile !important;
  }

  .cardCounter {
    margin-left: -$padding_card_content_horizontal_mobile;
    margin-top: -$padding_card_content_vertical_mobile;
  }

  #flashcardSidebarLeft, #flashcardSidebarRight {
    width: $sidebar_width_mobile !important;
    transform: scaleY(-1);


    i, span, img, button {
      margin-top: $sidebar_button_margin_mobile !important;
    }

    .card-button {
      transform: scaleY(-1);
    }
  }
}
