<template name="cardsetNavigationExport">
    {{#unless isIOS}}
        {{#unless isShuffledCardset this._id}}
            {{#if this.quantity}}
                {{#if isCardsetOwner _id}}
                    {{#unless gotTranscriptBonus this._id}}
                        <div class="hidden-xs btn-group">
                            <button id="exportCardsBtn" class="btn btn-sm btn-raised exportCardsBtn "
                                    data-toggle="modal"
                                    data-target="#exportModal"><span class="flex-content"><i
                                    class="fas fa-cloud-download-alt"></i>&nbsp;{{_ "sidebar-nav.exportcard"}}</span>
                            </button>
                        </div>
                    {{/unless}}
                {{/if}}
            {{/if}}
        {{/unless}}
    {{/unless}}
</template>
