<template name="filterIndexItemBottomExport">
    {{#unless isIOS}}
        {{#unless this.shuffled}}
            {{#if isCardsetOwner this._id}}
                <a class="resultNavigationElement exportCardset" data-id="{{this._id}}"
                   data-name="{{this.name}}" title='{{_ "sidebar-nav.exportcard"}}'><i
                        class="result fas fa-cloud-download-alt hidden-xs" data-id="{{this._id}}"></i></a>
            {{/if}}
        {{/unless}}
    {{/unless}}
</template>
