<template name="filterIndexItemBottomLearningStatus">
    <a class="resultNavigationElement showLearningStatus" data-cardset="{{this._id}}" data-user="{{currentUser._id}}" title="{{_
            "learningStatus.tooltip"}}">
        <i class="far fa-chart-bar"></i>
    </a>
</template>
