<template name="filterIndexItemBottomLearningHistory">
    <a data-id="{{this._id}}"
        class="showLearningHistory" data-toggle="modal"
       href="#learningHistoryModal"><i
            class="far fa-clock"
            data-id="{{this._id}}"
            title="{{_ "learningHistory.tooltip"}}"></i></a>
</template>
