<template name="progress">
    {{#if isProgressType 'cardset'}}
        {{#if isShuffledCardset}}
            <div class="row">
                {{> graphCardsetFilter}}
            </div>
        {{/if}}
        <div class="row">
            <div class="col-xs-12 ">{{{getMaxWorkload}}}{{#unless isShuffledCardset}}<span class="hidden-xs">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{_ "learningStatistics.cardCount" cardCount=(getCardsetCardCount true)}}</span>{{/unless}}</div>
            {{#unless isShuffledCardset}}<div class="col-xs-12 visible-xs">{{_ "learningStatistics.cardCount" cardCount=(getCardsetCardCount true)}}</div>{{/unless}}
        </div>
    {{/if}}
    {{#if isProgressType 'user'}}
        <div class="col-xs-12">{{_ "learningStatistics.cardCount" cardCount=getTotalLeitnerCardCountUser}}</div>
    {{/if}}
    {{#if isProgressType 'admin'}}
        <div class="col-xs-12">{{_ "learningStatistics.cardCount" cardCount=getTotalLeitnerCardCount}}</div>
    {{/if}}
    <canvas id="{{getTargetID}}" data-box1="{{countBox 1}}"
            data-box2="{{countBox 2}}" data-box3="{{countBox 3}}" data-box4="{{countBox 4}}"
            data-box5="{{countBox 5}}" data-box6="{{countBox 6}}"></canvas>
</template>

<template name="graphCardsetFilter">
    <div id="setLeitnerProgressCardsetFilter">
        <div class="dropdown">
            <div class="btn-group col-xs-12 col-sm-6 col-md-5">
                <button id="setCardsetFilter" type="button"
                        class="btn btn-raised btn-default setCardsetFilterDropdown longButton"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"
                        value="-1">{{_ "learningStatistics.indexDefault" cardsetCount=(getCardsetCount false) cardCount=(getCardsetCardCount true)}}
                </button>
                <button type="button"
                        class="btn btn-raised dropdown-toggle setCardsetFilterDropdown setCardTypeDropdownCaret"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="flex-content"><span class="caret"></span>
                        <span class="sr-only"></span></span>
                </button>
                <ul class="dropdown-menu btn-raised longButton">
                    <li class="cardset" value="-1" data-id="-1" data-count="{{getCardsetCardCount true}}" data-name="{{getCardsetCount}}">
                        <a href="#">
                            <div id="activeCardset">
                                {{_ "learningStatistics.indexDefault" cardsetCount=(getCardsetCount false) cardCount=(getCardsetCardCount true)}}
                            </div>
                            <div class="col-xs-12 cardset-details">
                                {{> cardsetLabels (setModalLabelValue shuffledData true)}}
                            </div>
                        </a>
                    </li>
                    {{#each (getCardsetCardCount false)}}
                        <li class="cardset" value="{{this._id}}" data-id="{{this._id}}" data-count="{{this.quantity}}" data-name="{{this.name}}">
                            <a href="#">
                                {{this.name}}
                                <div class="col-xs-12 cardset-details">
                                    {{> cardsetLabels (setModalLabelValue this true)}}
                                </div>
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
