<template name="bonusInfoBox">
    <div id="collapseLearningPhaseInfoButton" class="col-xs-12 card card-block collapseButton {{#if isBonusFinished this.learningActive this.learningEnd}}finished{{/if}}">
        <strong>{{_ "set-list.learnphaseInfo"}}</strong>
        <i id="collapseLearningPhaseInfoIcon" class="far fa-caret-square-down pull-right"></i>
    </div>
    <div class="collapse" id="collapseLearningPhaseInfo">
        <div class="card card-block">
            <table class="table table-condensed table-striped table-hover infoBoxTable">
                <tbody>
                    {{> bonusInfoBoxContent}}
                </tbody>
            </table>
        </div>
    </div>
    <span class="hidden-xs">
        <br>
        <br>
    </span>
    {{> cardsetInfoBoxItemBonusButton}}
</template>

<template name="bonusInfoBoxContent">
    <tr>
        <td colspan="2"><strong>{{_ "set-list.bonusSection.settings"}}:</strong></td>
    </tr>
    {{> cardsetInfoBoxItemBonusStatus}}
    {{> cardsetInfoBoxItemBonusMaxPoints}}
    {{> cardsetInfoBoxItemBonusMinLearned}}
    {{> cardsetInfoBoxItemBonusPointsFAQ}}
    {{> cardsetInfoBoxItemBonusWorkload}}
    {{> cardsetInfoBoxItemPomodoroCount}}
    {{> cardsetInfoBoxItemPomodoroWorkTime}}
    {{> cardsetInfoBoxItemPomodoroBreakTime}}
    {{> cardsetInfoBoxItemBonusNotifications}}
    {{> cardsetInfoBoxItemBonusDeadline}}
    {{> cardsetInfoBoxItemBonusStart}}
    {{> cardsetInfoBoxItemBonusEnd}}
    {{> cardsetInfoBoxItemBonusRegistrationPeriod}}
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"><strong>{{_ "set-list.bonusSection.stats"}}:</strong></td>
    </tr>
    {{> cardsetInfoBoxItemBonusActiveLearners}}
    {{> cardsetInfoBoxItemBonusCardArithmeticMean}}
    {{> cardsetInfoBoxItemBonusCardMedian}}
    {{> cardsetInfoBoxItemBonusCardStandardDeviation}}
</template>
